<html>
<head>
    <title>超链接标签学习</title>
    <meta charset="UTF-8"/>
</head>
<body>
<h3>超链接标签学习</h3>
<hr />
<pre>
		</pre>
<!--网络资源-->
<h4>网络资源:</h4>
<a href="http://www.taobao.com" target="_blank">淘宝一下</a><br />
<a href="http://www.taobao.com" target="_blank"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1553359712508&di=7028e145db1ba4e09dd3f93e2361a0bb&imgtype=0&src=http%3A%2F%2Fbpic.ooopic.com%2F17%2F03%2F79%2F17037977-629f421eed7c5be0c7df968d2a05d733-3.jpg"/></a>
<hr />
<!--锚点学习:-->
<h4>锚点学习:</h4>
<a href="https://blog.csdn.net/weixin_43258908/article/details/88769410">锚点学习</a>
</body>
</html>